<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "prof.jpg" %>
	</div>

	<div id="content">
	    <br><br><br><br><br><br><br><br><br>
	    <br><br><br><br><br><br><br><br><br>
		<h1>自己紹介</h1>
		<p>名前：鬼原　昇平</p>
        <p>出身：兵庫県神戸市</p>

	</div>
</div>